.maindiv
{
    width: 100% !important;
    height: 490px ;
    background-color:#1abc9c ;
}
.ii
{
    position: relative;
}
.ii::after
{
    content: "";
    background-color: white;
    position: absolute;
    width: 90px;
    height: 5px;
    left: 30px;
    top: 5px;
}
/* .ii::before
{
    content: "";
    background-color: white;
    position: absolute;
    width: 90px;
    height: 5px;
    right: 30px;
    top: 5px;
} */
.hiiiii
{
    width: 18%;
}